<html>
	<head>
		<title>Build Radiator</title>

		<script src="http://www.google.com/jsapi"></script>
		<script src="/javascripts/radiator.js"></script>
		<script>
			// Load jQuery 
			google.load("jquery", "1");
			google.setOnLoadCallback(initialize_radiator);
		</script>
		
		<link rel="stylesheet" href="/stylesheets/main.css" />

	</head>

    <body>
        <!--<iframe id="radiator_frame" />-->
	
	    <div id="build_statuses" />
	</body>

</html>
